apiVersion: v1
kind: Secret
metadata:
  name: mongodb-secret
data:
  MONGO_INITDB_ROOT_USERNAME: "{{ mongodb.username | b64encode }}"
  MONGO_INITDB_ROOT_PASSWORD: "{{ mongodb.password | b64encode }}"