# Number of replicas to be deployed
replicaCount: 1

## Allowing use of ingress controllers
## ref: https://kubernetes.io/docs/concepts/services-networking/ingress/
##
ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: 4G
    nginx.ingress.kubernetes.io/server-snippet: |-
      server_tokens off;
      proxy_hide_header X-Powered-By;
      rewrite ^/.well-known/webfinger /index.php/.well-known/webfinger last;
      rewrite ^/.well-known/nodeinfo /index.php/.well-known/nodeinfo last;
      rewrite ^/.well-known/host-meta /public.php?service=host-meta last;
      rewrite ^/.well-known/host-meta.json /public.php?service=host-meta-json;
      location = /.well-known/carddav {
        return 301 $scheme://$host/remote.php/dav;
      }
      location = /.well-known/caldav {
        return 301 $scheme://$host/remote.php/dav;
      }
      location = /robots.txt {
        allow all;
        log_not_found off;
        access_log off;
      }
      location ~ ^/(?:build|tests|config|lib|3rdparty|templates|data)/ {
        deny all;
      }
      location ~ ^/(?:autotest|occ|issue|indie|db_|console) {
        deny all;
      }

## Liveness and readiness probe values
## Ref: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#container-probes
##
livenessProbe:
  enabled: false
readinessProbe:
  enabled: false
startupProbe:
  enabled: false

##
## Configure the service type to be used for Nextcloud
##
nextcloud:
  host: cloud.timosur.com
  ## Use an existing secret
  existingSecret:
    enabled: true
    secretName: nextcloud-secrets
    usernameKey: "username"
    passwordKey: "password"
    # tokenKey: nextcloud-token
    # smtpUsernameKey: smtp-username
    # smtpPasswordKey: smtp-password

  mail:
    enabled: false

  configs:
    custom.config.php: |-
      <?php
      $CONFIG = [
        'check_data_directory_permissions' => false,
        'trusted_domains' =>
        [
          'cloud.timosur.com',
          '10.255.0.1'
        ],
        'overwrite.cli.url' => 'https://cloud.timosur.com',
        'overwriteprotocol' => 'https',
        'overwritehost' => 'cloud.timosur.com'
      ];

##
## Internal database configuration
##
internalDatabase:
  enabled: false

##
## External database configuration
##
externalDatabase:
  enabled: true

  ## Supported database engines: mysql or postgresql
  type: postgresql

  ## Database host
  host: "{{ postgres.host }}"

  ## Database name
  database: "{{ nextcloud.db.name }}"

  ## Use a existing secret
  existingSecret:
    enabled: true
    secretName: nextcloud-secrets
    usernameKey: db_username
    passwordKey: db_password


## Cronjob to execute Nextcloud background tasks
## ref: https://docs.nextcloud.com/server/latest/admin_manual/configuration_server/background_jobs_configuration.html#cron
##
cronjob:
  enabled: true

## Enable persistence using Persistent Volume Claims
## ref: http://kubernetes.io/docs/user-guide/persistent-volumes/
##
persistence:
  # Nextcloud Data (/var/www/html)
  enabled: true
  storageClass: "hcloud-volumes"
  # accessMode: ReadWriteMany
  size: 8Gi

  ## Use an additional pvc for the data directory rather than a subpath of the default PVC
  ## Useful to store data on a different storageClass (e.g. on slower disks)
  nextcloudData:
    enabled: true

    storageClass: "storage-box-smb"
    accessMode: ReadWriteMany
    size: 800Gi
